.comment__box {
    margin: 1rem 0 0.3rem 0;
    padding: 20px 10px 10px 10px;
    background-color: white;
    color: black;

    .comment {
        padding: .5em;
        background-color: rgb(237, 255, 249);
        margin: .5em 0;
        border-radius: 0.25em;
    }

    .nested_comment {
        margin-left: .5em;
    }  
    .commentorDetails {
        display: flex;
        gap: 20px;
        text-align: start;
        padding-left: 1rem;
        color: rgb(61, 61, 61);
        .commentor{
            font-weight: 600;
        }
        .postedDate{
            color: grey;
            font-size: 15px;
        } 
    }
    .comment__text{
        margin-left: 17px;
        font-size: 16px;
    } 
    .comment__actions {
        display: flex;
        justify-content: space-around;
        padding: 12px 0px 0px 0px;
        
    }
    .comment__replies {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
    .replies__count{
        width: 90%;
        margin: auto;
        .showReplies{
            display: flex;
            margin-top: 8px;
            gap: 10px;
            font-size: 14px;
            color: grey;
        }
        .showReplies :nth-child(1){
            margin-top: -7px;
        }

    }
}