.comment__box {
    // border-left: solid red 1px;
    margin: 1rem 0 0.3rem 0;
    // border: 1px solid rgb(120, 224, 59);
    padding: 20px 10px 10px 10px;
    
    .comment {
        padding: .5em;
        background-color: rgb(237, 255, 249);
        margin: .5em 0;
        border-radius: 0.25em;
    
    }
    
    .nested_comment {
        margin-left: .5em;
    }
    
    .comment__text {
        text-align: start;
        padding-left: 1rem;
        color: rgb(61, 61, 61);
    }
    
    .comment__actions {
        display: flex;
        justify-content: space-around;
        padding: 12px 0px 0px 0px;
        // border: 1px solid orange;
    }

    .comment__replies {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
}