.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0 0.5em;
    margin-bottom: 1em;
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        bottom: -0.5em;
        height: 1px;
        width: 100%;
        background-color: #5457b6;
    }

    input {
        padding: 0.5em;
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
    }

    button {
        border-radius: 0.25em;
        padding: .25em auto;
        background-color: #5457b6;
        color: white;
    }
}