.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0 0.5em;
    margin: 0.5em;
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        bottom: -0.5em;
        height: 1px;
        width: 100%;
        background-color: #5457b6;
    }

    input {
        padding: 0.5em;
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
    }

    button {
        background-color: #5457b6;
        border-radius: 0.25em;
        border: none;
        padding: 0.5em 1em;
        font-size: 16px;
        font-weight: 500;
        font-family: inherit;
        color: white;
        cursor: pointer;
    }
}

.nested-input-wapper {
    margin: 0.5em 0 !important;
}